/* @font-face {
    font-family: Raleway;
    src: url(../Fonts/Raleway/);
}
@font-face {
    font-family: Roboto;
    src: url(../Fonts/Roboto/);
} */
:root {
    --title-text-color: #212121;
    --par-text-color: #757575;
    --accent-color: #2196F3;
    --background-one: #2F303A;
    --background-two: #F5F4FA;
    --other-color: #ffffff; 
    --mail-color: rgba(255, 255, 255, 0.6); 
    
}
.body {
    font-family: Roboto, Raleway;
    background-color: var(--other-color); 
    font-size: 14px;
    letter-spacing: 0.3em;
    color: #212121; 
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* ------------------HEADER----------------- */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--accent-color)
}
.logo-header {
    color: #000000;
}
.logo-footer {
    color: var(--other-color);
}
.nav-link {   
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.current {
    color: var(--accent-color);
}
.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
}
.nav-tel:hover, .nav-tel:focus {
    color: var(--accent-color);
}
.nav-mail:hover, .nav-mail:focus {
    color: var(--accent-color);
}
.nav-mail-footer:hover, .nav-mail-footer:focus {
    color: var(--accent-color);
}
.button-link:hover, .button-link:focus {
    background-color: var(--accent-color);
    color: var(--other-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;  
}
.button-link-first {
    color: var(--other-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.button-link {
    background: var(--background-two);
    border-radius: 4px;
    cursor: pointer;
}
.nav-mail {
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--par-text-color);
}
.nav-tel {
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--par-text-color);
}

/* --------------MAIN-------------- */
.hero {
    background-color: var(--background-one);
}
.hero-title {
    font-weight: 900;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--other-color);
}
.visualy-hidden {
    visibility: collapse;
}
.button {
    font-family: 'Roboto';
    font-style: normal;
    color: var(--other-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.title-foto {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.about-text {
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--par-text-color);
}
.signature {
    font-weight: 400;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--par-text-color);
}
.works {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.partisipant {
    background-color: var(--other-color);
}
.section-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
}
.title {
    background-color: var(--background-two);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
}
.paragraf-team {
    line-height: 19px;
    text-align: center;
    color: var(--par-text-color);
}
/* ----------------FOOTER--------------- */
.footer {
    background-color: #2F303A ;
}
.adress {
    font-style: normal;
}
.nav-map {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--other-color);
}
.nav-mail-footer {
    line-height: 24px;
    color: var(--mail-color);
}

/* колір основого туксту #212121*/

/* другий основний колір #757575*/

/* акцент #2196F3*/

/* futer rgba(255, 255, 255, 0.6); */

/* background #2F303A */

/* background2 F5F4FA */